<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Whatsapp & Facebook preview -->
    <meta property="og:site_name" content="verbauwedeinmobiliaria.com.ar">
    <meta property="og:title" content="Verbauwede Inmobiliaria" />
    <meta property="og:description" content="Servicios inmobiliarios en San Luis, Argentina" />
    <meta property="og:image:secure_url" itemprop="image"
        content="https://www.verbauwedeinmobiliaria.com.ar/img/logo-social.png" />
    <meta property="og:image" itemprop="image"
        content="https://www.verbauwedeinmobiliaria.com.ar/img/logo-social.png" />
    <meta property="og:url" content="https://www.verbauwedeinmobiliaria.com.ar/">
    <meta itemprop="thumbnailUrl" content="https://www.verbauwedeinmobiliaria.com.ar/img/logo-social.png" />
    <meta property="og:type" content="website" />
    <meta property="og:updated_time" content="updatedtime">
    <meta property="og:locale" content="en_GB" />

    <!-- SEO -->
    <title>Verbauwede Inmobiliaria - Inmobiliaria en San Luis, Argentina</title>
    <meta name="description" 
        content="Inmobiliaria en San Luis, Argentina. Alquiler y venta de propiedades en Capital, Villa Mercedes, Merlo, La Punta y Sierras Centrales">
    <meta name="author" content="Matías Torres" />
    <meta name="copyright" content="Verbauwede Inmobiliaria" />

    {{#if map}}
    <!-- LEAFLET -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />
    {{/if}}

    <!-- CUSTOM CSS -->
    <link rel="icon" href="/img/favicon.svg">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/bsStyle.css">
    <link rel="stylesheet" href="/css/custom.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173380513-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-173380513-1');
    </script>
    
</head>

<body data-spy="scroll">

    {{#if admin}}

    {{>navigation-admin}}

    {{#if propertiesList}}

    {{>search}}

    {{/if}}

    {{else}}

    {{>navigation}}

    {{#if search}}
    {{else}}
    {{>banner-owners}}
    {{>search}}
    {{/if}}

    {{>float-button}}

    {{/if}}

    <div class="bg-gradient-custom-body min-vh-100 d-flex flex-column pt-md-3">

        {{>client-message}}
        {{>message}}

        {{{body}}}

        <div class="w-100 mt-auto">
            {{#if admin}}

            {{else}}

            {{>banner-wa}}

            {{/if}}
        </div>
    </div>

    {{#if admin}}

    {{>footer-admin}}

    {{else}}

    {{>footer-client}}

    {{/if}}

    {{#if map}}
    <!-- LEAFTLET -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
    {{/if}}
    <!-- BOOTSTRAP 4 -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script async src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script async src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <!-- JQUERY -->
    <script async src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <!-- FONT AWESOME -->
    <script async src="https://kit.fontawesome.com/f89fa30999.js" crossorigin="anonymous"></script>
    <!-- CUSTOM SCRIPTS -->
    <script async src="/js/scripts.js"></script>
    <script async src="/js/maps.js"></script>

</body>

</html>